.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1.5rem solid black;
  }
  
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  
  border-top: 1.5rem solid black;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid black;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent; 
  border-right: 1.5rem solid black; 
}