@font-face {
  font-family: pokemon_gb;
  src: url(./fonts/pokemon_gb.ttf);
}

@font-face {
  font-family: pokemon_unown_gb;
  src: url(./fonts/pokemon_unown_gb.ttf);
}

#root, body {
  background-color: rgb(225, 225, 225)
}



div {
  font-family: pokemon_gb;
  background-color: white;
}

.main {
  position: relative;
  height: 55rem;
  width: 71rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.box {
  border-radius: 0.25rem;
  background: white;
  border: 0.25rem solid white;
  box-shadow: 0.15rem 0.15rem 0 0.15rem black,
              inset 0.15rem 0.15rem 0 0.15rem black,
              0 0 0 0.15rem black,
              inset 0 0 0 0.15rem black;
}

.selections {
  position: absolute;
  font-size: 3rem;
  top: 3rem;
  left: 1rem;
}

.selections2 {
  position: absolute;
  font-size: 3rem;
  top: 9.5rem;
  left: 1rem;
}

.opponent-box {
  position: absolute;
  height: 7rem;
  width: 35rem;
  top: 0.16rem;
  left: 0.15rem;
  border-radius: 0.25rem;
  background: white;
  border-right: 0.25rem solid white;
  border-bottom: 0.25rem solid white;
  box-shadow: 0.15rem 0.15rem 0 0.15rem black,
              inset 0 0 0 0.15rem black,
              0 0 0 0.15rem black;

}

.opponent-name {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  left: 1rem

}

.opponent-health {
  position: absolute;
  font-size: 2rem;
  top: 4.5rem;
  left: 10rem;
}

#opponent-health {
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  width: 34rem;
}



.opponent-sprite{
  position: absolute;
  height: 20rem;
  top: 2rem;
  left: 42rem;
}

.player-box {
  position: absolute;
  height: 7rem;
  width: 35rem;
  margin-top: 32.16rem;
  margin-left: 35.55rem;
  border-radius: 0.25rem;
  background: white;
  border-left: 0.25rem solid white;
  border-top: 0.25rem solid white;
  box-shadow: 0.15rem 0.15rem 0 0 black,
  inset 0.15rem 0.15rem 0 0.15rem black,
  0 0 0 0.15rem black;
}

.player-name {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  left: 1rem;

}

.player-health {
  position: absolute;
  font-size: 2rem;
  top: 4.5rem;
  left: 15rem;
}

#player-health {
  position: absolute;
  top: 2rem;
  left: 0.75rem;
  width: 34rem
}

.player-sprite {
  position: absolute;
  height: 25rem;
  top: 15.5rem;
  left: 5rem;
}

.selections-box {
  position: absolute;
  height: 15rem;
  width: 70.5rem;
  top: 39.54rem;
  left: 0.15rem;
  border-radius: 0.25rem;
  background: white;
  border-top: 0.25rem solid white;
  border-right: 0.25rem solid white;
  box-shadow: 0 0.15rem 0 0 black,
              inset 0 0.15rem 0 0.15rem black,
              0 0 0 0.15rem black
}

.atk-msg-box {
  position: absolute;
  height: 15rem;
  width: 70.4rem;
  top: 39.54rem;
  left: 0.15rem;
  border-radius: 0.25rem;
  background: white;
  border-top: 0.25rem solid white;
  border-right: 0.25rem solid white;
  box-shadow: 0 0.15rem 0 0 black,
              inset 0 0.15rem 0 0.15rem black,
              0 0 0 0.15rem black
}

.atk-msg {
  position: absolute;
  font-size: 3rem;
  top: 1rem;
  left: 1rem;
}

.dmgFx {
  animation: blinker 0.15s linear infinite;
}

@keyframes blinker {  
  60% { opacity: 0; }
}

#overlay {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#disable {
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.opponentSlide {
  position: absolute;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 4s;
  animation: slide 0.5s forwards;
  left: -42rem;
  animation-delay: 3.5s;
}

@-webkit-keyframes slide {
  100% {   left: 42rem; }
}

@keyframes slide {
  100% {   left: 42rem;  }
}

.fade-out {
  color: #FFFFFF;
  text-align: center;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
   opacity: 0;
}

.playerSlide {
  position: absolute;
  -webkit-animation: slide-left 0.5s backwards;
  -webkit-animation-delay: 2s;
  left: 105rem;
  animation: slide-left 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide-left {
  100% {   left: 5rem; }
}

@keyframes slide-left {
  100% {   left: 5rem;  }
}

.intro {
  position: absolute;
  background-color: rgba(225,225,225,0);
  height: 100%;
  width: 100%;
  /* z-ind; */
  transition:all 0.5s ease-in-out;
  -webkit-animation:blink normal 0.4s 5 ease-in-out;
}

.none {
  display: none;
}

@keyframes blink {
  0% {
         background-color: rgba(225,225,225,1)
  }
  50% {
         background-color: rgba(225,225,225,0.5)
  }
  100% {
         background-color: rgba(225,225,225,1)
  }
}
@-webkit-keyframes blink {
  0% {
         background-color: rgba(225,225,225,1)
  }
  50% {
         background-color: rgba(225,225,225,0.5)
  }
  100% {
         background-color: rgba(225,225,225,1)
  }
}

.save_files {
  position: absolute;
  height: 20rem;
  width: 35rem;
  top: 2rem;
  left: 2rem;
}

.new_game {
  position: absolute;
  font-size: 3rem;
  top: 4rem;
  left: 2rem;
}

.continue {
  position: absolute;
  font-size: 3rem;
  top: 12rem;
  left: 2rem;
}

.newGame{
  position: absolute;
  top: 3.65rem;
  left: 30rem
}

._continue {
  position: absolute;
  top: 11.65rem;
  left: 30rem
}

