
.menus-box{
    height: 15rem;
    width: 39rem;
    position: absolute;
    margin-top: 39.34rem;
    margin-left: 31.35rem;
    border-radius: 0.25rem;
      background: white;
      border-left: 0.25rem solid white;
      border-top: 0.25rem solid white;
      box-shadow: 0.15rem 0.15rem 0 0 black,
                  inset 0.15rem 0.15rem 0 0.15rem black,
                  0 0 0 0.15rem black
    }
    
    
   span {
    position: absolute;
    font-size: 3rem;
   }
    
    .fight {
        top: 2rem;
        left: 5rem
    }
    
    .PkMn {
        top: 2rem;
        left: 25rem
    }
    
    .items {
        top: 9rem;
        left: 5rem;
    }
    
    .run {
        top: 9rem;
        left: 25rem;
    }

    .fight-arrow {
        position: absolute;
        width: 0; 
        height: 0;
        top: 2rem;
        left: 2rem; 
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1.5rem solid black;
      }
      
      .PkMn-arrow {
        position: absolute;
        width: 0; 
        height: 0;
        top: 2rem;
        left: 22rem; 
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1.5rem solid black;
      }
      
      .items-arrow {
        position: absolute;
        width: 0; 
        height: 0;
        top: 9rem;
        left: 2rem; 
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1.5rem solid black;
      }
      
      .run-arrow {
        position: absolute;
        width: 0; 
        height: 0;
        top: 9rem;
        left: 22rem; 
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1.5rem solid black;
      }